
h3.heading,h2.heading {
    font-size: 43px;
}
p.text {
    max-width: 700px;
    margin: auto;
}
.package-info {
    padding: 1.5em 1em;
    background: #fafafa;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.view-package a {
    background: #047ffc;
    padding: 13px 30px;
    color: #fff;
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 10px;
    display: inline-block;
}
.package-info h5 {
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    line-height: 1.5em;
}
.package-info p {
    font-size: 15px;
    line-height: 1.6em;
}
.package-info h6 {
    font-size: 16px;
    letter-spacing: 1px;
    color: #707579;
    text-transform: capitalize;
}
.image-tour p {
    position: absolute;
    right: 1%;
    bottom: 2%;
    background: #047ffc;
    padding: 5px 10px;
    color: #fff;
}
.package-info h6 span.fa {
	color: #047ffc
}
ul.listing li {
    letter-spacing: 0px;
    color: #707579;
    font-size: 15px;
}
ul.listing li span {
    font-weight: 600;
}
ul.listing li span.fa {
    font-weight: normal;
    color: #047ffc;
}

/*destinations*/

.destinations-grids {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.destinations-grids .caption h4 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}
h4.destination {
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 3px;
}
.rating ul li {
    display: inline-block;
}
.rating ul li span.fa {
    color: #fff;
    font-size: 13px;
}

.rating {
    background: #047ffc;
    position: absolute;
    right: 1%;
    top: 1%;
    padding: 0px 10px 5px;
}
.caption a {
    font-size: 15px;
    background: none;
    border: 1px solid #ccc;
    padding: 12px 20px;
    letter-spacing: 1px;
    color: #ccc;
    margin-top: 20px;
    display: inline-block;
}

.destinations-info {
    position: absolute;
    bottom: -227px;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px 0px 10px;
    transition: .5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	left: 15px;
	right:15px;
    text-align: center;
}

.destinations-grids:hover div.destinations-info {
    bottom: 0;
}

.caption {
    padding: 0px;
}

/* destinations responsive */
@media(max-width:1080px) {
    
}

@media(max-width:1024px) {
    
}

@media(max-width:991px) {
    
    .destinations-grids {
        padding: 0 5px;
    }

    .destinations-grids h4 {
        font-size: 18px;
    }
	.destinations-info {
		left: 5px;
		right: 5px;
	}
    .destinations-info {
        padding: 20px 0;
    }
}