body {
    margin: 0;
    font-size: 100%;
    background: #fff;
	font-family: 'Raleway', sans-serif;
}
body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    font-family: 'Open Sans', sans-serif;
}
.adress-w3pvt-info h6 {
    font-size: 1.2em;
    color: #3d3d3e;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 1em 0;
}
.adress-w3pvt-info a {
    color: #777;
    letter-spacing: 1px;
}
.adress-icon span.fa {
    color: #047ffc;
    font-size: 2em;
    vertical-align: middle;
}
.contact-forms input, .contact-forms textarea, .contact-forms select {
    font-size: 15px;
    color: #000;
    padding: 1em 1em;
    background: #f6f6f6;
    outline: none;
    border: none;
    letter-spacing: 1px;
    border-radius: 0px;
    outline: none !important;
}
.contact-forms select{
	padding: 0em 1em;
    height: 52px !important;
	color: #777;
}
button.sent-butnn {
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    display: inline-block;
    letter-spacing: 2px;
    outline: none;
	color: #fff;
	background: #047ffc;
    border-radius: 0px;
    padding: 10px 20px;
}
.contact-left-form {
    padding: 3em;
    background: #fff;
	box-shadow: 0 0 50px rgba(0, 0, 0, .1);
}
.contact-right h4 {
    font-size: 30px;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 40px;
    font-weight: 600;
    margin-top: 1em;
}
.contact-right h5 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 600;
}
.map iframe {
    border: none;
    outline: none;
    height: 350px;
    width: 100%;
}