.banner_w3lspvt {
    position: relative;
    z-index: 1;
}

.banner-top {
    background: url(./banner1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top1 {
    background: url(./banner1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top2 {
    background: url(./banner1.jpg) no-repeat 0px 0px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.banner-top3 {
    background: url(./banner1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

.w3layouts-banner-info {
    padding-top: 18em;
    max-width: 800px;
}

.w3layouts-banner-info h3 {
    text-shadow: 3px 4px 6px rgba(45, 45, 45, 0.15);
    font-size: 3.3em;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 68px;
}

.w3layouts-banner-info h4 {
    color: #eee;
    margin: 1em 0 1.5em;
    letter-spacing: 4px;
    text-transform: capitalize;
    font-weight: 200;
}
.w3layouts-banner-info a.btn {
    border: 2px solid #fff;
    border-radius: 0px;
    padding: 11px 30px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 2px;
	text-transform: capitalize;
	font-family: 'Raleway', sans-serif;
}

.banner-top,
.banner-top1,
.banner-top2,
.banner-top3 {
    min-height: 750px;
}
.overlay {
    min-height: 750px;
    background: rgba(0, 0, 0, 0.5);
}
.overlay1 {
    min-height: 750px;
    background: rgba(0, 0, 0, 0.6);
}

.book{
	background: #047ffc;
}
.book h2.heading{
	color: #fff;
}
.grid-info h4 {
    color: #fff;
    letter-spacing: 2px;
    font-weight: 600;
    font-size: 21px;
    text-transform: uppercase;
}
.grid-info p {
    color: #ddd;
}
.icon {
    background: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    margin: 0em auto 1.5em;
    border-radius: 50%;
}
.icon span.fa{
	font-size: 25px;
    line-height: 80px;
    color: #047ffc;
}
.grid-info {
    padding: 0 1em;
}

.counter span.fa {
    font-size: 2em;
    color: #047ffc;
}

.timer {
    font-size: 3em;
    font-weight: 300;
}

.timer span {
    font-size: 20px;
    font-weight: 500;
    color: #777;
}

p.count-text {
    letter-spacing: 2px;
    font-weight: 600;
}
